In [1]:
import pandas as pd

In [5]:
#LEC 1   Series
series1=pd.Series([1,2,3,'hello',3.91]) #default index 0,1,2,3,4 we can change it .
print(series1)

0        1
1        2
2        3
3    hello
4     3.91
dtype: object

In [13]:
l=[]
series2=pd.Series(l) #we can pass the list and this is empty list creation
print(series2)

Series([], dtype: object)

In [23]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float)  #changing  index and changing data type
print(series3)
print(series3['c'])

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64
3.0

In [27]:
series4=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float,name='Data values')  #Giving name to column easy recognize the
                                                                                     #type of data like school fee or employee id or bill number
print(series4)
print(series4['c'])

a    1.0
b    2.0
c    3.0
d    4.0
Name: Data values, dtype: float64
3.0

In [31]:
#Series for Single scalar values
scalar_s=pd.Series(0.6)
print(scalar_s)

0    0.6
dtype: float64

In [33]:
#Series for Single scalar values with multiple index like we if create some value for default and then we will change if we want
scalar_s=pd.Series(0.6,index=[1,2,3,4])
print(scalar_s)

1    0.6
2    0.6
3    0.6
4    0.6
dtype: float64

In [37]:
dict_1=pd.Series({'product1':'Apple','product2':'Orange'})
print(dict_1)

product1     Apple
product2    Orange
dtype: object

In [39]:
s4=pd.Series([1,2,3,4,5]) #Opearators Silicing  
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [45]:
max(s4)

5

In [47]:
min(s4)

1

In [51]:
s4[1:2]

1    2
dtype: int64

In [53]:
#new thing   values greater than 3 will be return 
s4[s4>3]

3    4
4    5
dtype: int64

In [65]:
s5=pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [67]:
s4+s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [71]:
s6=pd.Series([1,2,3])  #Add index wise and if same index not found then NaN (Not a number)
s5+s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64